%skip {
	margin-top: 30px;
	margin-right: 20px;
	font-size: 1.4rem;
	font-family: $font-poppins-light;
	text-transform: uppercase;
	letter-spacing: 0.1rem;

	.separator {
		display: inline-block;
		vertical-align: middle;
		background-color: white;
		width: 15px;
		height: 1px;
	}

	.text {
		vertical-align: middle;
	}

	&:hover{
		cursor: pointer;
	}
}

%controls {
	display: flex;
	justify-content: space-between;
	@include text-button();

	&:hover>div{
		cursor: pointer;
	}
}

%previous {
	letter-spacing: 0.1rem;

	svg.svg_previous {
		width: 20px;
		vertical-align: middle;
		.cls-1{fill:url(#svg_previous_gradient_1);}
		.cls-2{fill:url(#svg_previous_gradient_2);}
	}
}

%next {
	letter-spacing: 0.1rem;

	svg.svg_next {
		width: 20px;
		vertical-align: middle;
		.cls-1{fill:url(#svg_next_gradient_1);}
		.cls-2{fill:url(#svg_next_gradient_2);}
	}
}
