@font-face {
	font-family: "poppins-light";
	font-style: normal;
	src: url("../static/fonts/Poppins-Light.ttf") format("truetype");
}

@font-face {
	font-family: "poppins-medium";
	font-style: normal;
	src: url("../static/fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "poppins-regular";
	font-style: normal;
	src: url("../static/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Otama";
	font-style: normal;
	src: url("../static/fonts/Otama-ep.otf") format("truetype");
}
