/*---FADE---*/
.fade-enter-active {
	transition: all 0.5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.fade-leave-active {
	transition: all 0.250s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.fade-enter, .fade-leave-active {
	opacity: 0;
	// transition: all 0.250ms cubic-bezier(1.0, 0.5, 0.8, 1.0);
}


/*---TRANSLATE---*/
.translate-enter-active {
	transition: all .3s ease;
}

.translate-leave-active {
	transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.translate-enter, .translate-leave-active {
	opacity: 1;
	// -webkit-transform: translateX(75%);
	// -ms-transform: translateX(+75%);
	// transform: translateX(+75%);
}
