$font-poppins-light: "poppins-light";
$font-poppins-medium: "poppins-medium";
$font-poppins-regular: "poppins-regular";
$font-otama: "Otama";

$color-white: #FFFFFF;
$color-black: #000000;

$color-green: #4EEFF3;
$color-blue: #0000FF;
$color-rouge: #EB0061;
$color-orange: #FFA836;

$color-blue-dark: #070d35;
